/* intuitivnejsi box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header,
footer,
article,
nav,
aside {
  padding: 20px;
}

header > :first-child,
footer > :first-child,
article > :first-child,
nav > :first-child,
aside > :first-child {
  margin-top: 0;
}

header > :last-child,
footer > :last-child,
article > :last-child,
nav > :last-child,
aside > :last-child {
  margin-bottom: 0;
}

.hlavicka {
  background-color: #2ecc71;
}
.menu {
  background-color: #e74c3c;
}
.obsah {
  background-color: #f1c40f;
}
.reklama {
  background-color: #8e44ad;
}
.paticka {
  background-color: dodgerblue;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/

.obsah {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .obsah {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .clanek {
    width: 70%;
  }

  .menu {
    width: 30%;
  }

  .reklama {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .clanek {
    width: 60%;
  }

  .menu {
    width: 20%;
  }

  .reklama {
    width: 20%;
  }
}
